.App {
  text-align: center;
  margin-top: 2rem;
}

.colors-generator{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.colors-render{
  margin: 0 auto;
  display: flex;
  margin-top: 2rem;
}

.colors-control{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-primary{
  width: 150px;
}